body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

#gameCanvas {
  display: none;
  background: #111;
  margin: 0 auto;
  border: 2px solid white;
}

#startScreen, #gameOverScreen {
  margin-top: 100px;
}

#gameOverScreen {
  display: none;
}